.holder {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 18.75rem;
  position: relative;
}
.theme_dark {
  color: #333;
}
.theme_light {
  color: #fff;
}
.search_field {
  padding: .5rem .75rem;
  border-radius: .5rem;
  border-width: 1px;
  border-style: solid;
  font-size: 1.5rem;
}
.search_field:disabled::placeholder {
  color: #ccc;
}
.results__holder {
  position: absolute;
  overflow-y: auto;
  max-height: 16rem;
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #333;
}
.results__holder > li:not(:last-of-type) {
  border-bottom: 1px solid #ccc; 
}
.results__holder::-webkit-scrollbar {
  width: 1.25rem;
}
.results__holder::-webkit-scrollbar-track {
  background-color: transparent;
}
.results__holder::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1.25rem;
  border: 0.375rem solid transparent;
  background-clip: content-box;
  min-height: 4rem
}
.results__holder::-webkit-scrollbar-thumb:hover {
  background-color: #ddd,
}
.error {
  width: calc(100% - 1.5rem);
  padding: .5rem .75rem;
  background-color: #A52714;
  color: #fff;
  border-radius: .25rem;
}
