.holder {
  background-color: #fff;
  padding: .75rem;
  width: calc(100% - 1.5rem);
  max-width: 17.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #333;
}
.holder:hover, .holder:visited {
  background-color: #22857B;
  color: #fff;
}
.holder > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: .5rem;
}
.holder > h3 > small {
  font-size: .75rem;
}
.holder > p {
  font-size: 1rem;
  line-height: 1.5;
}
.holder > ul {
  margin-top: 1rem;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}
