.app {
  width: 100%;
  height: calc(100% - 10vh);
  padding-top: 10vh;
}
.dark {
  background-color: #263238;
}
.light {
  background-color: #fff;
}
.app_header, .app_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app_header {
  font-size: calc(10px + 2vmin);
}
.title_dark {
  color: #fff;
}
.title_light {
  color: #263238;
}
